.statistics {
    background-color: #f9fbfc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  .statistics p {
    margin: 10px 0;
    color: #444;
  }
  